import /system/etc/init/init.safailnet.rc

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

on init
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0
    setprop persist.sys.usb.config adb
 
    # Solution for incoming calls (Hex edited)
    # Pie vendor
     mount none /system/lib64/libmtk-ril.so /vendor/lib64/libmtk-ril.so bind
 
 # Force disable all VoLTE support -- it requires intensive modification of frameworks
    # without framework support it creates all sorts of problems. Disable it.
    setprop persist.vendor.mtk.volte.enable 0
    setprop persist.vendor.mtk_ct_volte_support 0
    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    symlink /system_root/system /system
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6771 /vendor/etc/fstab.mt6771 bind
    # Override codec config
    mount none /system/etc/media_codecs_mediatek_video.xml /vendor/etc/media_codecs_mediatek_video.xml bind
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind
    # Disable AOSP RIL if MTK RIL is up
	on property:vendor.ril.mtk=1
    	stop vendor.ril-daemon
on zygote-start
    # Custom overrides that need to happen AFTER things like Magisk have loaded
    # zygote-start is re-run after decryption, so we can be sure these will be mounted
    mount none /system/overlay/DummyOverlay.apk /vendor/overlay/framework-res__auto_generated_rro.apk bind
    # over the Magisk ones
    # Override codec config again in case of Magisk
    mount none /system/etc/media_codecs_mediatek_video.xml /vendor/etc/media_codecs_mediatek_video.xml bind

on fs
    # Override vendor fstab again because things like Magisk will re-bind /vendor	
    mount none /system/etc/fstab.mt6771 /vendor/etc/fstab.mt6771 bind

on post-fs-data
  # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6771
    
    on property:sys.boot_completed=1
    # force disable hw overlays to be true
    exec - root -- /system/bin/sh -c "service call SurfaceFlinger 1008 i32 1" 
